*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 72px;
    background-color: rgb(212, 44, 109);
}

.container {
    width: 1024px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 7rem;
    height: 7rem;
}

#navlist {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1.5rem;
}

#navlist a {
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

p {
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section1 .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

}

.section1content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainbutton {
    display: inline-block;
    background-color: rgb(212, 44, 109);
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-top: 1.5rem;
    border-radius: 0.5rem;
    
}

.section2 {
    background-color: antiquewhite;
}

.section2 .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    color: rgb(212, 44, 109);
}

.aboutparagraph {
    margin-top: 1.5rem;
    color: black;
}

.section2content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
}   